
#main button {
    font-size: 21px;
    background-color: #8564CC;
    color: white;
    border-color: white;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border-width: 3px;
}

#main button:hover{
    background-color: white;
    border-color: #8564CC;
    color: #8564CC;
}

#header-container{
    position: relative;
    background-color: white;
}
#header-img{
    position: relative;
    max-width: 1205px;
    z-index: 1;
    height: 100%;
}

#text-container{
    position: absolute;
    top: 48%;
    left: 54%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    z-index: 2;
}

#header-button-show{
    position: absolute;
    top: 75%;
    left: 40%;
    width: 220px;
    transform: translate(-50%, -50%);
    z-index: 2;
}


#header-button-program{
    position: absolute;
    width: 220px;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#title-logo{
    width: 300px
}

#map-placeholder{
    width: 300px;
    height: 250px;
}

#map-container{
    border: 4px solid #8564CC;
    padding: 10px;
    border-radius: 60px;
    max-width: 350px;
}
#description-right{
    padding-top: 20px;
}

#text-container-left{
    border: 4px solid #8564CC;
    padding: 10px;
    border-radius: 60px;
    margin: auto;
    max-width: 460px;
}

#text-container-right{
    border: 4px solid #8564CC;
    padding: 10px;
    border-radius: 60px;
    margin: auto;
    max-width: 460px;
}

label{
    font-size: 12px;
}

#locations-text-container{
    border: 4px solid #8564CC;
    padding: 10px;
    border-radius: 60px;
    max-width: 1000px;
}

#locations-map-container{
    border: 4px solid #8564CC;
    padding: 10px;
    border-radius: 60px;
    margin: 30px;
    max-width: 330px;
}

#timetable-text-container{
    border: 4px solid #8564CC;
    padding: 10px;
    max-width: 1000px;
    border-radius: 60px;
}

table{
    font-size: 14px;
    max-width: 550px;
    margin: auto;
}


.newSectionContainer{
    border: 4px solid #8564CC;
    padding: 20px;
    border-radius: 60px;
    max-width: 1000px;
    margin-left: 50px;
    margin-top: 20px;
}